.header {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.header__buttons {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.header__buttons button {
  background-color: #ffffff;
  border: none;
  margin: 0 10px;
}

.header__buttons button:hover {
  background-color: lightskyblue;
  border-radius: 5px;
}

.header__search {
  width: 100%;
  text-align: center;
}

.header__search input {
  width: 940px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
}
